In [ ]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# dataset

> Create a dataset of storm matches

In [ ]:
#| default_exp dataset

In [ ]:
#| export
from pathlib import Path
import geopandas as gpd
import sqlite3
import datetime
import numpy as np
import gc


from tathu.io import spatialite
from tathu.constants import KM_PER_DEGREE

import exp4.core
from exp4.core import *
#from exp4.core import load_relato

## Loading PreVots data

In [ ]:
#| hide

# Old and new prevots reports
pth_relatos = Path(r"C:\Users\caioa\TESE\Experimento_3\relatos\granizo_2018-2023_novos.csv")
relatos = load_relato(pth_relatos)


# Brazilian municipalities data
pth_ibge = Path(r"C:\Users\caioa\TESE\Experimento_3\ibge")
shp_cities = gpd.read_file(pth_ibge / "BR_MUNICIPIOS_2022" / "BR_MUNICIPIOS_2022.shp")
shp_cities.set_index(["NM_MUN", "SIGLA_UF"], inplace=True)


# Dbs of tracked storms
pth_db = Path(r"C:\Users\caioa\TESE\Experimento_3\dbs_v2")
#db_name = "20230101_20231231_systems-db.sqlite"
table_name = "systems"

C:\Users\caioa\TESE\exp4\exp4\core.py:40: FutureWarning: Support for nested sequences for 'parse_dates' in pd.read_csv is deprecated. Combine the desired columns with pd.to_datetime after parsing instead.
  df_relatos = pd.read_csv(pth,
C:\Users\caioa\TESE\exp4\exp4\core.py:40: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  df_relatos = pd.read_csv(pth,

In [ ]:
#| hide
#relatos.head(4)
relatos.tail(4)

,date_time,qualidade,dt_min,lat,lon,dx_km,cidade,uf,tipo,intensidade,geometry,buffer
13147,2023-09-28 19:30:00,1,15.0,-19.9777,-42.1451,3.0,Santa Barbara do Leste,MG,GRA,1.0,POINT (-42.14510 -19.97770),"POLYGON ((-41.93849 -19.97770, -41.93948 -19.9..."
13148,2023-09-28 20:48:00,1,10.0,-18.1654,-47.9458,5.0,Catalão,GO,GRA,1.5,POINT (-47.94580 -18.16540),"POLYGON ((-47.72122 -18.16540, -47.72230 -18.1..."
13149,2023-09-30 19:45:00,1,15.0,-22.3480,-46.9380,5.0,Mogi Guaçu,SP,GRA,3.0,POINT (-46.93800 -22.34800),"POLYGON ((-46.71342 -22.34800, -46.71450 -22.3..."
13150,2023-09-30 20:00:00,1,15.0,-22.2783,-46.9536,5.0,Estiva Gerbi,SP,GRA,4.0,POINT (-46.95360 -22.27830),"POLYGON ((-46.72902 -22.27830, -46.73010 -22.3..."

In [ ]:
#| hide

# Espaços sozinhos no início e fim da string
relatos[["cidade ", "uf"]] = relatos[["cidade ", "uf"]].replace(r"^ +| +$", r"", regex=True) #Cidade tem espaço 'cidade '

In [ ]:
#| hide
len(relatos)

13151

## Iteration Process over Databases

In [ ]:
#| hide
year = 2018
db_file = [db_name for db_name in pth_db.glob(f"{str(year)}*")][0]

In [ ]:
#| hide

# Query for intersection by date and PreVots coords
intersec_query = f"""
    SELECT
        name, min, mean, std, count, event, relationships,
        strftime('%Y-%m-%d %H:%M:00', date_time) as date,
        ST_AsBinary(geom) as geom,
        ST_Area(ST_Intersection(ST_Buffer(MakePoint(?, ?), ?), geom)) as intersection
    FROM
        systems
    WHERE
        date BETWEEN ? AND ?
        AND ST_Intersects(
            ST_Buffer(MakePoint(?, ?), ?), 
            geom
        )
    ORDER BY
        intersection DESC
"""

#Query by name for relative systems
name_query = f"""
    SELECT
        name, min, mean, std, count, event, relationships,
        strftime('%Y-%m-%d %H:%M:00', date_time) as date,
        ST_AsBinary(geom) as geom
    FROM
        systems
    WHERE
        name = ? OR relationships = ? OR name = ? 
    ORDER BY
        date ASC
"""

In [ ]:
#| hide
year = 0
for _, relato in relatos.iterrows():

    # Year for the database search and connection
    if year != relato["date_time"].year:
        
        # Update year
        year = relato["date_time"].year
        
        # Path to the respective database and connect
        db_file = [db_name for db_name in pth_db.glob(f"{str(year)}*")][0]
        conn = connect_db(pth_db / db_file)

    else:
        pass # skip in case year is the same 

    
    # Get reports specs for query
    dt = relato["dt_min"] # Report's time uncertainty

    # Event window (datetime +- PreVots time uncertainty)
    date_start = datetime.datetime.strftime(relato["date_time"] - datetime.timedelta(minutes = int(dt)),
                           '%Y-%m-%d %H:%M:00')
    
    date_end = datetime.datetime.strftime(relato["date_time"] + datetime.timedelta(minutes = int(dt)),
                           '%Y-%m-%d %H:%M:00')


    # Buffer (20Km + event uncertainty) corrected to degree
    buffer_size = (relato["dx_km"] + 10) / KM_PER_DEGREE


    # Params for query-intersect
    params = (relato["lon"], relato["lat"], 
              buffer_size, 
              date_start, date_end, 
              relato["lon"], relato["lat"], 
              buffer_size)

    gdf_filtered = query2gdf(conn, intersec_query, params, "geom")

    if gdf_filtered.empty:
        continue

    # Search for related storm polygons
    best_match = gdf_filtered.iloc[0,:]
    name_params = (best_match["name"], best_match["relationships"])

    # Check names of match
    name_params = (best_match["name"], best_match["name"], best_match["relationships"]) # Case same name, case split of the storm, case match is the split of the storm

In [ ]:
relato_teste = relatos.iloc[0,:]
relato_teste

date_time                                    2018-06-05 17:45:00
qualidade                                                      0
dt_min                                                       0.0
lat                                                     -27.1243
lon                                                     -48.6036
dx_km                                                        0.0
cidade                                                   Itapema
uf                                                            SC
tipo                                                         GRA
intensidade                                                  3.0
geometry                               POINT (-48.6036 -27.1243)
buffer         POLYGON ((-48.42393758567651 -27.1243, -48.424...
Name: 0, dtype: object

In [ ]:
# Update year
year = relato_teste["date_time"].year

# Path to the respective database and connect
db_file = [db_name for db_name in pth_db.glob(f"{str(year)}*")][0]
conn = connect_db(pth_db / db_file)

# Time uncertainty
time_dt = relato_teste["dt_min"] + 5#

# Janela temporal do evento (horário +- incerteza temporal do relato)
date_start = datetime.datetime.strftime(relato_teste["date_time"] - datetime.timedelta(minutes = int(time_dt)),
                       '%Y-%m-%d %H:%M:00')
date_end = datetime.datetime.strftime(relato_teste["date_time"] + datetime.timedelta(minutes = int(time_dt)),
                       '%Y-%m-%d %H:%M:00')

# Buffer de área do evento (20Km + incerteza espacial do evento) corrigida para grau
buffer_size = (relato_teste["dx_km"] + 20) / KM_PER_DEGREE


# Parametros passados para a query no banco de dados
params = (relato_teste.lon, relato_teste.lat, 
          buffer_size, 
          date_start, date_end, 
          relato_teste.lon, relato_teste.lat, 
          buffer_size)

gdf_filtered = query2gdf(conn, intersec_query, params, "geom")

In [ ]:
gdf_filtered
best_match = gdf_filtered.iloc[0,:]

In [ ]:
gdf_filtered

,name,min,mean,std,count,event,relationships,date,geom,intersection
0,a9b41e50-7ff7-40b8-bc0f-e488e357ae78,224.817322,231.896277,2.011233,810.0,SPONTANEOUS_GENERATION,,2018-06-05 17:45:00,"POLYGON ((-48.70090 -26.84396, -48.61104 -26.8...",0.080562

In [ ]:
# Check names of match
name_params = (best_match["name"], best_match["name"], best_match["relationships"]) # Case same name, case split of the storm, case match is the split of the storm
#name_params

In [ ]:
gdf_related = query2gdf(conn, name_query, name_params, "geom")

In [ ]:
gdf_related

,name,min,mean,std,count,event,relationships,date,geom
0,a9b41e50-7ff7-40b8-bc0f-e488e357ae78,224.817322,231.896277,2.011233,810.0,SPONTANEOUS_GENERATION,,2018-06-05 17:45:00,"POLYGON ((-48.70090 -26.84396, -48.61104 -26.8..."
1,a9b41e50-7ff7-40b8-bc0f-e488e357ae78,222.420624,231.074087,2.473063,917.0,CONTINUITY,,2018-06-05 18:00:00,"POLYGON ((-48.55713 -26.86192, -48.41337 -26.8..."
2,a9b41e50-7ff7-40b8-bc0f-e488e357ae78,222.174805,230.789725,2.616955,944.0,CONTINUITY,,2018-06-05 18:15:00,"POLYGON ((-48.46728 -27.05956, -48.57510 -27.0..."
3,a9b41e50-7ff7-40b8-bc0f-e488e357ae78,222.604980,230.924504,2.580738,1070.0,CONTINUITY,,2018-06-05 18:30:00,"POLYGON ((-48.05396 -26.82599, -47.98208 -26.8..."
4,a9b41e50-7ff7-40b8-bc0f-e488e357ae78,221.621735,230.933879,2.911911,1355.0,CONTINUITY,,2018-06-05 18:45:00,"POLYGON ((-47.76644 -26.86192, -47.64065 -26.8..."
5,a9b41e50-7ff7-40b8-bc0f-e488e357ae78,222.051910,230.608942,2.630421,1444.0,CONTINUITY,,2018-06-05 19:00:00,"POLYGON ((-47.80238 -26.86192, -47.73050 -26.8..."
6,a9b41e50-7ff7-40b8-bc0f-e488e357ae78,223.342438,230.790061,2.191153,1596.0,CONTINUITY,,2018-06-05 19:15:00,"POLYGON ((-47.62268 -26.84396, -47.53282 -26.8..."
7,a9b41e50-7ff7-40b8-bc0f-e488e357ae78,221.621735,231.307595,2.241414,1682.0,CONTINUITY,,2018-06-05 19:30:00,"POLYGON ((-47.44297 -26.82599, -47.31718 -26.8..."
8,a9b41e50-7ff7-40b8-bc0f-e488e357ae78,219.778137,231.368544,2.575551,1578.0,CONTINUITY,,2018-06-05 19:45:00,"POLYGON ((-47.33515 -26.82599, -47.31718 -26.8..."

In [ ]:
#| export
from sqlalchemy.ext.declarative import declarative_base
from geoalchemy2 import Geometry
from sqlalchemy import create_engine, Column, Integer, Float, String, DateTime, ForeignKey

from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker, relationship

Base = declarative_base()


class Storm(Base):
    """
        Table to store unique storms and their evolving identifiers through splits and merges
    """
    __tablename__ = "storms"
    
    id = Column(Integer, primary_key=True)
    identifier = Column(String, index=True)
    ##TODO: Additional fields to track the first and last appearance


class StormEvent(Base):
    """
        Table to store each event, corresponding to the storm's physical data in each satellite scene
    """
    __tablename__ = "storm_events"

    id = Column(Integer, primary_key=True)
    storm_id = Column(Integer, ForeignKey("storms.id"))
    event_type = Column(String)
    datetime = Column(DateTime)
    count = Column(Integer)
    mean_bt = Column(Float)
    min_bt = Column(Float)
    std_dev_bt = Column(Float)
    geometry = Column(Geometry("POLYGON"))
    storm = relationship("Storm", backref="events")


class HailReport(Base):
    """ 
        Table to store the hail reports from PreVots
    """
    __tablename__ = "hail_reports"
    
    id = Column(Integer, primary_key=True)
    datetime = Column(DateTime)
    location = Column(Geometry("POINT"))


class Intersection(Base):
    """
        Table to store the matches of storm polygons and hail reports
    """
    __tablename__ = "intersections"
    
    id = Column(Integer, primary_key=True)
    storm_event_id = Column(Integer, ForeignKey("storm_events.id"))
    hail_report_id = Column(Integer, ForeignKey("hail_reports.id"))
    intersection_time = Column(DateTime)

C:\Users\caioa\AppData\Local\Temp\ipykernel_9712\1616432598.py:9: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [ ]:
best_match['name']

'a9b41e50-7ff7-40b8-bc0f-e488e357ae78'

In [ ]:
#| hide

from sqlalchemy.orm import sessionmaker
from geoalchemy2.shape import from_shape
from shapely.geometry import Point
import geopandas as gpd

# Assuming `gdf` is your GeoDataFrame

# Database setup
engine = create_engine('postgresql+psycopg2://user:password@localhost/mydatabase')
Session = sessionmaker(bind=engine)
session = Session()



# Check if the unique storm already exists
storm = session.query(Storm).filter_by(identifier=best_match['name']).first()
if not storm:
    storm = Storm(identifier=best_match['identifier'])
    session.add(storm)
    session.commit()


# Adding Prevots
hail_report = HailReport(datetime=relato['date_time'], location=from_shape(Point(relato['lon'], relato['lat']), srid=4326))
session.add(hail_report)
session.commit()  # Commit to get an ID for the hail report

intersection = Intersection(
    storm_event_id=storm.id,
    hail_report_id=hail_report.id,
    intersection_time=best_match['date']
)
session.add(intersection)


# Load and insert data
for index, row in gdf_related.iterrows():

    # Insert storm event
    storm_event = StormEvent(
        storm_id=storm.id,
        event_type=row['event'],
        datetime=row['date'],
        mean_bt=row['mean'],
        min_bt=row['min'],
        std_dev_bt=row['std'],
        count=row["count"]
        geometry=from_shape(row['geom'], srid=4326)  # Ensure SRID matches your data
    )
    session.add(storm_event)

# Commit the session to save all changes
session.commit()

ModuleNotFoundError: No module named 'sqlalchemy'

In [ ]:
#| hide
with open('hail_log_database.txt', 'w') as f:
    f.write(f"Labeling hail \n")

In [ ]:
#| hide
import nbdev; nbdev.nbdev_export()